.Pokecard {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin: 1em;
  border-radius: 10px;
  padding: 8px;
  padding-bottom: 15px;
  align-items: center;
  align-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 50vh;
  transition: all ease 500ms;
}

.Pokecard-img {
  width: 100%;
  padding: 1rem;
  background-color: grey;
  padding: 0px;
}

.Pokecard-name {
  padding-bottom: 1em;
  padding-top: 1em;
  color: black;
  font-weight: bold;
  font-size: medium;
  text-align: center;
}

.Pokecard-item {
  color: grey;
}

@media screen and (min-width: 150px) {
  .Pokecard {
    width: 50vh;
  }
}

@media screen and (min-width: 300px) {
  .Pokecard {
    width: 30vh;
  }
}

@media screen and (min-width: 800px) {
  .Pokecard {
    width: 20vh;
  }
}

.Pokecard:hover {
  transform: scale(1.15);
  opacity: 0.7;
}
